.Task {
  width: 100%;
  padding: 5px 32px 5px 8px;
  border: 1px solid #aaa;
  margin: 5px 0;
  position: relative;
  background-color: #fafafa;
}
.Task button {
  display: inline-block;
  height: 20px;
  width: 20px;
  position: absolute;
  top: 50%;
  transform: translateY(-50%);
  right: 8px;
  background: url(./delete.svg) 50% 50% no-repeat;
  background-size: auto 100%;
  border: none;
  font-size: 0;
  cursor: pointer;
  outline: none;
}
.Task button:active {
  transform: scale(1.05) translateY(-50%);
}